<%- include('../partials/header')%>

  <h3>Skills as of <%= time %></h3>
  <ul
  <% skills.forEach(function(t) { %>
    <li>
      <form action="/skills/<%= t.id %>?_method=DELETE" method="POST" class="delete-form">
      <button id="check" type="submit">.</button>
      </form>
      <a href="/skills/<%= t.id %>"><%= t.skill %></a>
      -
      <%= t.done ? 'done' : 'not done' %>
    </li>
    <% }); %>
  </ul>

  <a id="add" href="/skills/new">Add New Skills</a>

  <%- include('../partials/footer')%>